html,
body {
  margin: 0;
  padding: 0;
}

.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fond {
  background-image: url("img/fondbrique.jpg");
  width: 100%;
  height: 100vh;
}
